@{
    ViewData["Title"] = "Admin";
}

<body>
    <div class="container">
        <main role="main">
            <div class="row bg-white p-3">
                <h2>ADMIN</h2>
            </div>
            <div class="row vw-100" style="height: 75vh;">
                <div class="col-12 d-flex justify-content-between align-items-center align-self-center p-3 flex-column" id="adminOptions">
                    <a class="btn m-4 text-uppercase" id="newReportBtn" asp-area="Admin" asp-controller="Admin" asp-action="Report" asp-route-id="new">Generate Weekly Report</a>
                    <a class="btn m-4 text-uppercase" id="oldReportBtn" asp-area="Admin" asp-controller="Admin" asp-action="Report" asp-route-id="old">View Old Reports</a>
                    <a class="btn m-4 text-uppercase" asp-area="Admin" asp-controller="Admin" asp-action="DocksReport">View Docks</a>
                </div>
            </div>
        </main>
    </div>
</body>