@{ 
    ViewData["Title"] = "Weekly Report";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body >
    <div class="container">

        <main role="main" id="rentPanel">
            <div class="row bg-white p-3">
                <h3>WEEKLY REPORT</h3>
            </div>
            
            <div class="tableContainer">
                <div style="overflow-x:auto;">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Bike Number</th>
                            <th>Check Out Time</th>
                            <th>Check In Time</th>
                            <th>Time In Use</th>
                            <th>Bike Damaged?</th>
                            <th>Returned?</th>
                            <th>Cost</th>
                            <th>Rent Dock</th>
                            <th>Return Dock</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>Adam</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>