@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="alert alert-danger">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <h4 class="text-danger">You do not have access to this resource.</h4>
    </div>
    
</header>
