/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* CUSTOM STUFF */
#home {
  background-color: #5bbef0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

#landingBody, body {
  background-color: #5bbef0;
  color: white;
}

.text-danger{
  color: orange;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #5bbef0;
  padding: 0;
  text-align: left;
}

h1 {
    font-size: 12em;
    font-weight: 200;
    margin-bottom: -25px;
}

h2 {
  margin: 0px 0px -50px 5px;
  font-weight: 700;
  font-size: 7em;
}

h3 {
  font-weight: 600;
  font-size: 4.5em;
}

#head-top {
  background-color: white;
  height: 30%;
}

#bigBike {
  width: 55em;
  height: 33em; 
  background-image: url('../img/BIKE 2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.inputPanel {
  background-color: #458aad;
  padding: 30px;
  margin: 30px;
}

.container {
  min-width: 100%;
}

.card * {
  color: black;
}

.navbar {
  width: 200px;
}

.responsive {
    width: 100%;
    height: auto;
}