/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 0.85vw;
}
@media (min-width: 768px) {
  html {
    font-size: 0.85vw;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}
/*
body {
  Margin bottom by footer height 
  margin-bottom: 60px;
}
*/

/* CUSTOM STUFF */
#home, #rental, body {
    background-color: #5bbef0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#user {
  background-color: white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}


h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #5bbef0;
  padding: 0;
  text-align: left;
}

h1 {
  font-size: 7vw;
  font-weight: 800;
}

h2 {
  font-weight: 700;
  font-size: 5.5vw;
  line-height: 1;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  font-size: 4.2vw;
}

#head-top {
  background-color: white;
  height: 30%;
}

#bikeUsePanel{
  background-color:  #5bbef0;
}

#userOptionsPanel{
  background-color: white;
  font-size: 1vw;
}

.inputPanel {
    background-color: #0079b4;
    padding: 30px;
    margin-top: 30px;
    font-size: 1vw;
}

.inputPanel button{
  background-color: #0dc58e;
}

.container {
  min-width: 100%;
  max-height: 100%;
}

.card * {
  color: black;
}

#bikeUsePanel p {
  font-weight: 600;
  display: block;
  text-align: center;
  font-size: 2.5vw;
  height: 100%;
}

#adminOptions .btn{
  background-color: #0366d6;
  color: white;
  font-size: 2.7em;
  width: 50%;
}

.userOptionsBtn {
  color: white;
  font-size: 2vw;
  background-color: #0366d6;
  width: 280px;
  padding: 17px;
}

footer, footer .container {
  background-color: transparent;
}

#popUp, popUp2 {
    padding: 16px;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: palevioletred; /*#fefefe; */
    margin: 5% auto 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;*/
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

button:hover {
    opacity: 0.8;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container2 {
    padding: 16px;
    margin-bottom: 20px;
}