@model RentModel
@{
    ViewData["Title"] = "Rent";
}

<body id="rent">
    <div class="container">
        <!--RETURNING-->
        <main role="main" id="returnPanel">
            <div class="row bg-white p-3">
                <h3>RETURN A BIKE</h3>
            </div>
            <div class="row pt-3 d-flex justify-content-center" style="background-color: #0079b4;">
                <div class="col-6">
                    <h3 class="text-center text-uppercase text-white">Rental Costs</h3>
                    <table class="table table-small text-center text-white h5">
                        <tbody>
                            <tr>
                                <th>$9</th>
                                <th>$5</th>
                                <th>$25</th>
                                <th>up to $200</th>
                                <th>$500</th>
                            </tr>
                            <tr>
                                <td>per hour</td>
                                <td>per half-hour</td>
                                <td>if returned to different dock</td>
                                <td>if returned damaged</td>
                                <td>upon failure to return</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4 h5 p-3">
                    <form asp-controller="Rent" asp-action="ReturnFinished" method="post">
                        <div class="form text-center">
                            @*@if (!Model.RentSuccessful && TempData["Return"].Equals("false"))
                        {
                            <div class="text-danger">Invalid bike number or the bike is already checked out</div>
                        }*@
                            <div class="form-group">
                                <label asp-for="BikeNumber">
                                    Enter the ID Number of the bike you'd like to
                                    return:
                                </label>
                                <input asp-for="BikeNumber" class="form-control" />
                                <span asp-validation-for="BikeNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="BikeDamaged" asp-for="BikeDamaged">Is the bike damaged?:</label>
                                <input type="checkbox" asp-for="BikeDamaged" id="BikeDamaged" name="BikeDamaged" />
                                <span asp-validation-for="BikeDamaged" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ReturnDock">Enter the dock number that you returned the bike to:</label>
                                <input asp-for="ReturnDock" class="form-control" />
                                <span asp-validation-for="ReturnDock" class="text-danger"></span>
                            </div>
                            <br />
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="col-6 d-flex justify-content-center p-2">
                    <img src="../img/BIKE 2.png" class="img-fluid" style="max-width: 85%; height: auto;" />
                </div>
            </div>

            @{ var result = ViewData["Return"] as string;
            }

            @if (result == "false")
            {
                <div class="modal p-0" id="popUp" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content vw-50" id="error">
                            <div class="modal-header border-bottom-0">
                                <h4 class="modal-title">RETURN FAILED!</h4>
                                <button type="button" class="close" onclick="document.getElementById('popUp').style.display='none'" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>The bike is not checked out or invalid input.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </main>
    </div>

    <script>
        var modal = document.getElementById('popUp');

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

@*
    <div class="card">
        <div class="card-header">
            <h1>Rent a Bike</h1>
        </div>
        <div class="card-body">
            <form asp-controller="Rent" asp-action="Submit" method="post">
                <div class="form">
                    <div class="form-group">
                        <label asp-for="BikeNumber">Enter the Bikes Number:</label>
                        <input asp-for="BikeNumber" class="form-control" />
                        <span asp-validation-for="BikeNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h1>Return a Bike</h1>
        </div>
        <div class="card-body">
            <form asp-controller="Rent" asp-action="Return" method="post">
                <div class="form">
                    <div class="form-group">
                        <label asp-for="BikeNumber">Enter the Bikes Number:</label>
                        <input asp-for="BikeNumber" class="form-control" />
                        <span asp-validation-for="BikeNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="BikeDamaged">Is the Bike Damaged?</label>
                        <input asp-for="BikeDamaged" class="form-control" />
                        <span asp-validation-for="BikeDamaged" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
*@